.panel {
  text-align: center;
  border-style: solid;
  border-color: black;
  margin: 5px;
  padding: 5px;
}

.panel-1 {
  text-align: center;
  border-style: solid;
  border-color: blue;
  margin-left: 500px;
  margin-right: 500px;
  padding: 5px;
}

.panel-2 {
  text-align: center;
  border-style: solid;
  border-color: orange;
  margin-left: 100px;
  margin-right: 100px;
  padding: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

